@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700');

:root {
  --white: #fcfafa;
  --black: #36383F;
  --gray: #85888C;
  --light-gray: #e6e8eb;
  --primary-blue: #2565AE;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background: var(--white);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}