nav {
  position: relative;
  display: flex;

  .logo {
    .logo-image {
      img {
        width: 2rem;
      }
    }

    .logo-text {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: 0.5rem;
    }

  }

  .nav-icons {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;

    .fa-solid {
      cursor: pointer;
    }
  }

  .menu-main-menu-container ul.menu  li ul{
      display: none;
  }
}

nav.mobile-nav-open {
  position: fixed;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    display: flex;
    justify-content: space-between;

    .logo-image {
      display: none;
    }

  }


  .menu-main-menu-container ul.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;

    li {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }

  .social-nav {
    font-size: 1.5rem;
    padding-top: 2rem;
    display: flex;

    a {
      padding: 1rem;
    }
  }

  .nav-icons {
    .fa-bars {
      display: none;
    }
  }
}


nav.mobile-nav-closed {
  .logo {
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;

    span.logo-image {
      display: none;
    }

  }

  .menu-main-menu-container {
    display: none;
  }

  .social-nav {
    display: none;
  }

  .nav-icons {
    .fa-xmark {
      display: none;
    }
  }
}

.main-nav {
  display: none;
}


@media screen and (min-width: 960px) {

  nav.mobile-nav-open,
  nav.mobile-nav-closed {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .1);
    width: 100vw;

    .menu-main-menu-container ul.menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;

      li {
        padding-left: 2rem;
      }

    }

    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}