@use '../settings/_variables'as variables;

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 5vw 5rem 5vw;
  background-color: variables.$color-white;

  &__main {
    width: 100%;
    margin-bottom: 3rem;

    &__image {
      border-radius: 5px;

      img {
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    &__title {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    &__category {
      font-size: 1rem;
      color: variables.$color-secondary;
      font-weight: bold;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      width: 100%;
      flex-direction: row;
      margin-bottom: 1rem;
      align-items: center;
      border-bottom: 2px solid #e6e8eb;

      &__image {
        width: 10rem;
        height: 8rem;
        margin-right: 1rem;
        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
        }
      }

      &__content {
        width: 80%;
      }

      &__title {
        font-size: 1.2rem;
        line-height: 1;
        margin-bottom: 0.5rem;
      }

      &__category {
        font-size: 0.8rem;
        color: variables.$color-secondary;
        font-weight: bold;
      }
    }
  }

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 10rem 5vw 0 5vw;
  }
}